[Unit]
Description=Notify admin when %I failed

[Service]
Type=oneshot
WorkingDirectory=/Users/test/Local_code/GoogleBusinessBot
EnvironmentFile=/Users/test/Local_code/GoogleBusinessBot/.env
ExecStart=/bin/bash -lc '/Users/test/Local_code/GoogleBusinessBot/notify_admin.sh "%I" "$(systemctl show -p SubState --value %I)"'

[Install]
WantedBy=multi-user.target


