[Unit]
Description=Google Business Bot
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
User=root
WorkingDirectory=/root/GoogleBusinessTelegramBot
Environment="PATH=/root/GoogleBusinessTelegramBot/new_venv/bin"
EnvironmentFile=/root/GoogleBusinessTelegramBot/.env
ExecStart=/root/GoogleBusinessTelegramBot/new_venv/bin/python /root/GoogleBusinessTelegramBot/bot.py
Restart=always
RestartSec=30
TimeoutStartSec=180
StandardOutput=append:/root/GoogleBusinessTelegramBot/logs/bot.log
StandardError=append:/root/GoogleBusinessTelegramBot/logs/bot_error.log

# Создаем необходимые директории
ExecStartPre=/bin/mkdir -p /root/GoogleBusinessTelegramBot/logs
ExecStartPre=/bin/mkdir -p /root/GoogleBusinessTelegramBot/logs/context_logs

[Install]
WantedBy=multi-user.target 